<main class="container-fluid d-flex h-100 p-0">
  <div class="d-flex flex-column flex-shrink-0 p-3 shadow" style="width: 280px;">
    <div class="fs-4">MicroNano</div>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" #bmiLink="routerLinkActive" routerLinkActive="active" [class.link-dark]="!bmiLink.isActive">BMI Calculator</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about-us" class="nav-link" #aboutLink="routerLinkActive" routerLinkActive="active" [class.link-dark]="!aboutLink.isActive">About</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="col my-3">
        <h1>Body Mass Index(BMI) Calculator</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card">
          <h5 class="card-header">Input</h5>
          <div class="card-body">
            <form [formGroup]="calculatorForm">
              <div class="mb-3">
                <label for="weight" class="form-label">Weight</label>
        
                <div class="input-group">
                  <input id="weight" type="number" formControlName="weight" class="form-control" autofocus>
                  <span class="input-group-text">kg</span>
                </div>
              </div>
        
              <div class="mb-3">
                <label for="height" class="form-label">Height</label>
        
                <div class="input-group">
                  <input id="height" type="number" formControlName="height" class="form-control">
                  <span class="input-group-text">cm</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <h5 class="card-header">Output</h5>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">BMI</label>
              <input readonly type="number" class="form-control" [value]="calculateBmi()">
            </div>
            <div class="mb-3">
              <input readonly class="form-control" [value]="bmiResult(calculateBmi())">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>