<main>
  <div class="container">
    <form [formGroup]="calculatorForm">
      <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>

        <div class="input-group">
          <input id="weight" type="text" formControlName="weight" class="form-control">
          <span class="input-group-text">kg</span>
        </div>
      </div>

      <div>
        <label for="height" class="form-label">Height</label>

        <div class="input-group">
          <input id="height" type="text" formControlName="height" class="form-control">
          <span class="input-group-text">cm</span>
        </div>
      </div>
    </form>
  
    <div>Results: {{ calculateBmi() }}</div>
  </div>
</main>